<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/bigo.gif"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center">Desarrollado por:</div>
      <div class="text-center">
        <h3>Juan Millord</h3>
      </div>

      <div class="text-center">@juanmillord</div>
      <div class="text-center">
        <a href="https://javascriptbase.now.sh/">JavaScriptBase</a>
      </div>
    </div>
  </div>
</div>